<center> 
<h4><font size = "200%" font face ="Rockwell">Get to know the artist Connie Balukoff!</h4>
<%= image_tag("mom.JPG", size:"400x500")%>
</center>
&nbsp;
<div align ="center"><font size="5">
Constance Balukoff began drawing at an early age and always dreamed of being an art teacher. She grew up on a small dairy farm in Pennsylvania and developed a love for nature and animals, which later became subjects of her artwork. After high school, she joined the military and traveled to new and exciting places. While living in South Dakota, she decided to obtain her Bachelor’s degree in Elementary Education with an Art minor from Black Hills State University. After moving to Frederick, Maryland with her husband and three children Constance followed her dream of becoming an art teacher. She has taught in West Virginia for ten years and still continues to do watercolor, acrylic and oil on her own. Constance will be obtaining her Master’s degree in Humanities. Constance is a self taught artist and only recently took a few classes in watercolor. She loves that the medium is always challenging to work with and never tires of trying something new with watercolor.

</div>
<center>
<h5><font size ="150%" font face ="Rockwell"> Come Learn More About the Website
</h5> 

</center>
<div align ="center"><font size="5">
The user will enter the website and be able to navigate to the about, how to, and gallery pages using the buttons provided at the bottom of the home page. To learn more about the artist Connie Balukoff you can read the artist bio directly above. The how to page allows for the user to follow a step by step tutorial on painting Bluebells. In addition, there will be tips given on what paints, paper, and brushes to use for creating paintings. The gallery page will give the user a glimpse of all the different artworks Connie has created over the years. 

</div>
<% command = 'php lib/assets/test2.php uri=' %>
<%= `#{command}` %>

<% command = 'php lib/assets/ReadFiles.php uri =' %>
<%= `#{command}`%>

<iframe>
<% command = 'php lib/assets/test2.php uri=' %>
<%= `#{command}` %> 
</iframe>
&nbsp;
<center>
<button onclick="location.href='https://safe-bayou-98954.herokuapp.com/static_pages/welcome'">Welcome Page</button>
<button onclick="location.href='https://safe-bayou-98954.herokuapp.com/static_pages/gallery'">Gallery Page</button>
<button onclick="location.href='https://safe-bayou-98954.herokuapp.com/static_pages/howTo'">How To Page</button>
</center>

<style>

body{

background: olivedrab;

}
h4{

border-style: double;
border-width 10px;
border-color: black;

}
h5{

border-style: double;
border-width 10px;
border-color: black;

}
div{
border-radius: 5px;
border-style: double;
border-color: black;

}

button{
  
background-color: darkolivegreen;
color: white;
font-size: 16px;

}

</style>

