
<center>
<h1 style="font-size:285%;">Come Explore the Colorful Artwork by Connie Balukoff</h1>
<p style ="font-size:125%;"> Enjoy the variety of paintings that will be displayed on this website!
<br>Click on the buttons below to learn more about this website, how to create a painting, or
to view some of the artist's artwork.</p>

<%= image_tag("flower2.png", size:"400x400")%>
&nbsp;
</center>
<center>
<% command = 'perl lib/assets/welcomeMsg.pl uri=' %>
<%= `#{command}` %>

<br>

<% command = 'perl lib/assets/PerlTest.pl uri=' %>
<%= `#{command}` %>

</center>

<style>
body{
background-color: darkolivegreen;  
border-style: double;
border-width: 10px;
border-color: black;
}
button{
  
background-color: olivedrab;
color: white;
font-size: 16px;

}

</style>
&nbsp;
<center>
<!--<button onclick="alert('Hello World!')">About Page</button>-->
<button onclick="location.href='https://cosc630-meganbalukoff.c9users.io/static_pages/about'">About Page</button>
<button onclick="location.href='https://cosc630-meganbalukoff.c9users.io/static_pages/gallery'">Gallery Page</button>
<button onclick="location.href='https://cosc630-meganbalukoff.c9users.io/static_pages/howTo'">How To Page</button>
</center>

