
<center>
<h1 style="font-size:285%;">Come Explore the Colorful Artwork by Connie Balukoff</h1>
<p style ="font-size:125%;"> Enjoy the variety of paintings that will be displayed on this website!
<br>Click on the buttons below to learn more about this website, how to create a painting, or
to view some of the artist's artwork.</p>
<%= image_tag("flower2.png", size:"400x400")%>
&nbsp;
</center>

<style>
body{
background-color: #93B874;  
border-style: double;
border-width: 10px;
border-color: darkgreen;
}
h1{
border-style: outset;
border-color: black;
}
</style>

<center>
<!--<button onclick="alert('Hello World!')">About Page</button>-->
<button>About Page</button>
<button>How To Page</button>
<button>Gallery Page</button>
</center>
